<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.markotranda.dnevnik" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_star96"
        android:label="Dnevnik++"
        android:theme="@style/AppTheme" >
        <activity
            android:screenOrientation="landscape"
            android:name=".LoginActivity2"
            android:label="Dnevnik++"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".UceniciActivity"
            android:label="@string/title_activity_ucenici"
>
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".UceniciActivity2"
            android:label="UČENICI" >
        </activity>

        <activity
            android:screenOrientation="landscape"
            android:name=".PodesavanjaActivity"
            android:label="PODEŠAVANJA" >
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".PredmetiRazrediActivity"
            android:label="PREDMETI" >
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".PlanRadaActivity"
            android:label="@string/title_activity_plan_rada" >
        </activity>
        <activity
            android:screenOrientation="landscape"
            android:name=".PredmetDetail"
            android:label="PREDMET" >
        </activity>
    </application>

</manifest>
